* {
    margin: 0;
    padding: 0;
}
.btn {
    color: #006a50FF;
    border: 1px solid #006a50FF;
    padding: 15px 30px;
    font-weight: 700;
    border-radius: 8px;
    font-size: 18px;
}
.container {
    max-width: 1400px;
    margin: auto;
}
header {
    background-color: skyblue;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
    max-width: 1400px;
    margin: auto;
    padding: 10px 0;
    align-items: center;
}
.link {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 24px;
}
.link a {
    text-decoration: none;
}

/* Hero Section  */
.hero {
    background-color: #c6e4d6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}
.hero-left h2 {
    color: #0e0e0e80;
    font-size: 24px;
}
.hero-left p {
    font-size: 56px;
    font-weight: 900;
}
.hero-left button {
    background-color: #006a50FF;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}